{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
         no.cjohansen/replicant {:mvn/version "2025.06.21"}
         markdown-clj/markdown-clj {:mvn/version "1.12.1"}
         org.clojure/tools.cli {:mvn/version "1.1.230"}}

 :aliases  {:dev {:extra-paths ["development/src"]
                  :extra-deps {}}

            :test {:extra-paths []
                   :extra-deps {}}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polylith/clj-poly {:mvn/version "0.2.21"}}}}}
